<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:tm="http://typo3.org/ns/TYPO3/CMS/ThemesManager/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">
	<f:section name="module-headline">
		<h1><f:translate key="manageExtensions">Manage extensions</f:translate></h1>
	</f:section>
	<h1><f:translate key="tx_themesmanager.ter" /></h1>

	<div class="typo3-message message-information">
		<div class="message-body">
			<f:translate key="tx_themesmanager.notice" />
		</div>
	</div>

</f:section>
</html>